html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #a9a9a9;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


img {
  width: 100%;
}

.hero__navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(../img/vintage-wallpaper.png); */
}

.hero__navbar nav{
  padding: 0 20px;
  display: flex;
  gap: 5rem;
}

.hero__navbar nav a {
  font-size: 1rem;
  color: #a9a9a9;
  text-decoration: none;
  font-weight: bold;
  transition: all .3s ease-in-out;
  text-shadow: 6px 6px 6px rgb(5, 2, 2);
}

.hero__navbar nav a:hover {
  color: #fff;
}

.hero__container {
  min-height: calc(100vh - 600px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__img-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.hero__img-container img {
  width: 100%;
  height: 100%;
  border: 15px double darkcyan;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  border-radius: 50%;
  margin-top: 1rem;
}

.hero__info {
  text-align: center;
  width: 450px;
}

.hero__title,
.hero__subtitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero__title {
  color: #fff;
  text-shadow: 6px 6px 6px rgb(5, 2, 2);
}

.hero__subtitle {
  color: #fff;
  font-size: clamp(30px, 3.5vw, 45px);
  text-shadow: 6px 6px 6px rgb(5, 2, 2);
}

.hero__social {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero__social i {
  font-size: 38px;
  color: #a9a9a9;
  transition: all .3s ease-in-out;
}

.hero__social i:hover {
  color: #fff;
}

.wrapper {
  max-width: 100vw;
  margin: 0 auto;
  background: #134E5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.about {
  padding: 1.5rem 20px;
  text-align: center;

}

.about__title {
  color: #fff;
  font-size: 2rem;
}

.skills {
  height: 100%;
  width: 100%
}


.skills__title {
  color: #fff;
  margin-top: 0rem;
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.skills__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20vw 20vw;
  border: 1px solid #fff;
  height: 100%;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 0rem;
  border: 1px solid #fff;
  
}

/* .skill-item i {
  width: 100px;
  height: 100px;
  background-color: #1c1616;
  color: #fff;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
} 
*/

.skill-item h3 {
  margin: 25px;
}

.skill-item span {
  border: 1px solid #fff;
  width: 200px;
  margin-bottom: 1rem;
  text-align: start;
  color: #fff;
  width: 80%;
  height: 40%;
}

.Contact {
  height: 100%;
  width: 100%;
}

.Contact__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1rem;
  width: 100%;
}

.Contact__title {
  color: #fff;
  margin-top: 0rem;
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
}

.Contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Contact__item h3 {
  text-align: left;
  font-style: italic;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.Contact__item a {
  margin-bottom: 2rem;
  text-align: left;
  color: #fff;
  width: 80%;
  height: 20%;

}

.section[id] {
  margin-top: 70px;
}



@media (min-width: 641px) {
  .skill-item span{
    overflow: auto;
  }

}

@media (max-width: 640px) {
  .skills__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20vw 20vw 20vw;
    display: flex;
    flex-direction: column;
  }

  .Contact__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 10vw 10vw 10vw;
    display: flex;
    flex-direction: column;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/px_by_Gre3g.png);
  }

  .hero__info {
    width: 100%;
    height: 100%;
  }
  .hero__title,
  .hero__subtitle {
    font-size: 15px;
  }

  .hero__img-container {
    width: 150px;
    height: 150px;
  }

  .hero__navbar {
    display: none;
    width: 25%;
    height: 100vw;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    background: none;
  }


  .hero__navbar nav {
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-flow: wrap column;
    gap: 3rem;
  }

  .hero__container {
    width: 70%;
    background: none;
  }

  .hero__img-container {
    height: 80%;
    width: 80%;
  }

  .hero__social i {
    font-size: 20px;
  }


}
